[submodule "vendor/datatables/datatables"]
	path = vendor/datatables/datatables
	url = https://github.com/DataTables/DataTables.git

[submodule "vendor/fortawesome/font-awesome"]
	path = vendor/fortawesome/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git

[submodule "vendor/grimmlink/toastr"]
	path = vendor/grimmlink/toastr
	url = https://github.com/grimmlink/toastr.git

[submodule "vendor/mervick/material-design-icons"]
    path = vendor/mervick/material-design-icons
    url = https://github.com/mervick/material-design-icons.git

[submodule "vendor/phpoffice/phpspreadsheet"]
	path = vendor/phpoffice/phpspreadsheet
	url = https://github.com/PHPOffice/PhpSpreadsheet.git

[submodule "vendor/twbs/bootstrap"]
    path = vendor/twbs/bootstrap
    url = https://github.com/twbs/bootstrap.git