[submodule "vendor/bootstrap"]
	path = vendor/bootstrap
	url = https://github.com/twbs/bootstrap.git

[submodule "vendor/DataTables"]
	path = vendor/DataTables
	url = https://github.com/DataTables/DataTables.git

[submodule "vendor/material-design-icons"]
    path = vendor/material-design-icons
    url = https://github.com/google/material-design-icons.git

[submodule "vendor/toastr"]
	path = vendor/toastr
	url = https://github.com/CodeSeven/toastr.git

[submodule "vendor/Font-Awesome"]
	path = vendor/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
