[submodule "vendor/bootstrap"]
	path = vendor/bootstrap
	url = git@github.com:twbs/bootstrap.git

[submodule "vendor/DataTables"]
	path = vendor/DataTables
	url = git@github.com:DataTables/DataTables.git

[submodule "vendor/material-design-icons"]
    path = vendor/material-design-icons
    url = git@github.com:google/material-design-icons.git