<footer class="footer mt-auto py-3 shadow">
    <div class="container">
        <span class="text-muted" id="footer-iphone">>Pingscore ­­©, tous droits réservés</span>
        <div class="row text-center">
            <div class="col mt-auto mb-auto">
                <span class="text-muted">>Pingscore ­­©, tous droits réservés</span>
            </div>
            <div class="col img-footer">
                <img src="../assets/img/logo_ping_score.png">
            </div>
            <div class="col img-footer">
                <img src="../assets/img/logo_intech.png">
            </div>
            <div class="col img-footer">
                <img src="../assets/img/logo_ouiheberg.svg">
            </div>
        </div>
    </div>
</footer>

<script src="../vendor/twbs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
