</body>
<script src="../vendor/jquery/jquery.min.js" type="text/javascript"></script>
<!-- Bootstrap core JavaScript-->
<script src="../vendor/twbs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>

<script>
    setInterval(function(){
        $('#reload_tableau').load('../includes/tableau_reload.php');
    }, 300)

    var cacheData;
    var data = $('#reload_match').html();
    var table = $('#num_table').html();
    var auto_refresh = setInterval(
        function ()
        {
            $.ajax({
                url: '../includes/match_reload.php',
                type: 'GET',
                data: {
                    'data': data,
                    'table': table
                },
                dataType: 'html',
                success: function(data) {
                    if (data !== cacheData){
                        //data has changed (or it's the first call), save new cache data and update div
                        cacheData = data;
                        $('#reload_match').html(data);
                    }
                }
            })
        }, 300); // check every 300 milliseconds
</script>
</html>
