<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Espace Compétition · Ping Score</title>
    <link rel="icon" href="../../assets/img/logo_ping_score.png" sizes="32x32" type="image/png">
    <link rel="apple-touch-icon" href="../../assets/img/logo_ping_score.png"/>

    <link href="../vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material icons Google fonts-->
    <link href="../../vendor/fortawesome/font-awesome/css/all.css" rel="stylesheet" type="text/css">
    <!-- Material icons Google fonts-->
    <link href="../../vendor/mervick/material-design-icons/css/material-icons.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap core CSS -->
    <link href="../../vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Datatables CSS -->
    <link rel="stylesheet" type="text/css" href="../../vendor/datatables/datatables/media/css/dataTables.bootstrap4.min.css"/>
    <!-- Toastr CSS -->
    <link rel="stylesheet" type="text/css" href="../../vendor/grimmlink/toastr/build/toastr.min.css"/>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/header_panel.css"/>
    <link rel="stylesheet" type="text/css" href="../../assets/css/styles.css"/>
    
</head>
<body id="background">
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow ">
        <div class="container">
            <a class="navbar-brand" href="espace_competition.php"> > Ping Score</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="liste_matchs.php">Matchs</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="liste_joueurs.php">Joueurs</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="liste_utilisateurs.php">Utilisateurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="tableau_arbitre.php">Tableau Arbitre</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-right">
                    <li class="nav-item">
                        <a class="nav-link" href="../../controllers/logout.php">Deconnexion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>